<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Supermercado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center tab1-content">

  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo del supermercado" class="logo" />
  </div>

  <h1 class="nombre-supermercado">
    La Hacienda
  </h1>

  <p class="descripcion">
    En La Hacienda, trabajamos para brindarte calidad, buen servicio
    y un ambiente agradable donde la tradición se encuentra.
  </p>

</ion-content>
