<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <h2>Encuéntranos aquí:</h2>

  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1361.2343334929449!2d-87.88092593972206!3d15.204839794805508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f66739de1ea855f%3A0x1de8114ba0e62e54!2ssuper%20y%20buffet%20la%20hacienda!5e0!3m2!1ses-419!2shn!4v1757792156826!5m2!1ses-419!2shn"
      width="100%"
      height="400"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

</ion-content>
