// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
/* Colores primarios de la app */
/* Colores personalizados */
:root {
  --ion-color-primary: #f08a5d;
  --ion-color-primary-rgb: 240,138,93;
  --ion-color-primary-contrast: #fff3e0;
  --ion-color-primary-contrast-rgb: 255,243,224;
  --ion-color-primary-shade: #d97a4c;
  --ion-color-primary-tint: #f29e7b;

  --ion-color-secondary: #f9d29d;
  --ion-color-secondary-rgb: 249,210,157;
  --ion-color-secondary-contrast: #5a2d0c;
  --ion-color-secondary-contrast-rgb: 90,45,12;
  --ion-color-secondary-shade: #e0b47f;
  --ion-color-secondary-tint: #f4cfa3;

  --ion-color-tertiary: #d9773b;
  --ion-color-tertiary-rgb: 217,119,59;
  --ion-color-tertiary-contrast: #fff3e0;
  --ion-color-tertiary-shade: #bc6424;
  --ion-color-tertiary-tint: #e08b52;

  --ion-background-color: #fff3e0;
  --ion-text-color: #5a2d0c;
}
